<div class="page-background">
  
  <header class="header-section" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 15px;">
    <div>
      <h2 class="main-title">Past & Live Data Analysis</h2>
      <p class="green-subtitle">Watch data in real time and see history.</p>
    </div>
    
    <div class="live-status-pill">
      <span class="pulse-dot"></span> 
      LIVE TRACKING
    </div>
  </header>

  <div class="chart-grid">
    
    <div class="simple-card">
      <div class="card-title" style="margin-bottom: 5px;">Tank 1</div>
      <div class="gray-text" style="font-size: 12px; margin-bottom: 15px;">Real-time Fuel Level (L)</div>
      
      <div class="chart-wrapper">
        <canvas id="gen1Chart"></canvas>
      </div>
    </div>

    <div class="simple-card">
      <div class="card-title" style="margin-bottom: 5px;">Tank 2</div>
      <div class="gray-text" style="font-size: 12px; margin-bottom: 15px;">Real-time Fuel Level (L)</div>
      
      <div class="chart-wrapper">
        <canvas id="gen2Chart"></canvas>
      </div>
    </div>

    <div class="simple-card">
      <div class="card-title" style="margin-bottom: 5px;">Tank 3</div>
      <div class="gray-text" style="font-size: 12px; margin-bottom: 15px;">Real-time Fuel Level (L)</div>
      
      <div class="chart-wrapper">
        <canvas id="gen3Chart"></canvas>
      </div>
    </div>

    <div class="simple-card">
      <div class="card-title" style="margin-bottom: 5px;">Tank 4</div>
      <div class="gray-text" style="font-size: 12px; margin-bottom: 15px;">Real-time Fuel Level (L)</div>
      
      <div class="chart-wrapper">
        <canvas id="gen4Chart"></canvas>
      </div>
    </div>

  </div>
</div>